{% extends 'admin/layouts/base-disconnected.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div
                class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <h3 class="text-center py-3 w-100"><i class="ti ti-user-circle"></i> Registration successfully</h3>
                                <p class="text-center">
                                    An email has been sent to your address email.
                                    Please click on the link to validate your account.
                                </p>
                                <p class="text-center">
                                    <a href="{{ path('home_listing') }}" class="btn btn-primary py-8 fs-4 mt-1 mb-4 rounded-2">Go to the site</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}