
##### Custom Environnement Variable #####
ENV=dev
DEBUG=true

## Install env var
APP_DIR=/var/www/html
SCRIPTS_DIR="${APP_DIR}/docker/scripts/entrypoint"
PROJECT_NAME=clean-archi
SYMFONY_VERSION=7.3.*
PROJECT_TYPE=web
FULL_WEB=false
HOST=dev.clean-archi-symfony.mg

## Database
ROOT_PASSWORD=root
MYSQL_DB_HOST=database
MYSQL_DB_NAME=clean_archi_db
MYSQL_USERNAME=clean_archi_user
MYSQL_PASSWORD=16No6ZJRh$!l

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
DATABASE_URL="mysql://${MYSQL_USERNAME}:${MYSQL_PASSWORD}@${MYSQL_DB_HOST}:3306/${MYSQL_DB_NAME}?charset=utf8mb4"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
# DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=15&charset=utf8"
###< doctrine/doctrine-bundle ###
